<div class="container">
  <div class="row">
    <div class="mx-auto col-10 pt-4 mb-4">
      <span class="h4 bg-light"><strong>マイページ</strong></span>
    </div>
    <div class="ms-4 col-7">
      <span class="h5"><strong>登録情報</strong></span>

        <span>
          <%= link_to edit_customers_path , class: "btn btn-success" do %>
            編集する
          <% end %>
        </span>
      <table class="table">
        <tr>
          <td class="table-light"><strong>氏名</strong></td>
          <td><%= @customer.last_name %>　<%= @customer.first_name %></td>
        </tr>
        <tr>
          <td class="table-light"><strong>カナ</strong></td>
          <td><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <td class="table-light"><strong>郵便番号</strong></td>
          <td><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <td class="table-light"><strong>住所</strong></td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td class="table-light"><strong>電話番号</strong></td>
          <td><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <td class="table-light"><strong>メールアドレス</strong></td>
          <td><%= @customer.email %></td>
        </tr>
      </table>
        <!--<span class="h5"><strong>配送先</strong></span>-->
        <!--<span>-->
          <!--%= link_to "一覧を見る" , about_path %-->
        <!--</span>-->
      <span class="h5"><strong>注文履歴</strong></span>
      <span>
        <%= link_to orders_path , class: "btn btn-primary" do %>
          一覧を見る
        <% end %>
      </span>
    </div>
  </div>
</div>