<h3>商品編集</h3>
<%= form_with model: @item,url:admin_item_path, method: :patch do |f| %>
  <table>
    <tr>
      <td>商品画像</td>
      <td>
        <%= f.file_field :image, accept: "image/*", class: "w-100" %>
      </td>
    </tr>
    <tr>
      <td>商品名</td>
      <td>
        <%= f.text_field :name, class:"form-control", placeholder:"商品名" %>
      </td>
    </tr>
    <tr>
      <td>商品説明</td>
      <td>
        <%= f.text_area :introduction, class:"form-control", rows:"4", placeholder:"ここに説明文を記述します" %>
      </td>
    </tr>
    <tr>
      <td>税抜価格</td>
      <td>
        <%= f.text_field :price, class:"form-control", placeholder:"1000" %>円
      </td>
    </tr>

  </table>
  <%= f.submit '変更を保存', class:"btn btn-lg btn-block btn-info mt-4" %>
<% end %>