<div class="container">
  <div class="row">
    <div class="mx-auto col-10 pt-4">
      <span class="h4 bg-light"><strong>注文履歴一覧</strong></span>
    </div>
    <div class="mx-auto col-10 pt-3">
      <table class="table">
        <thead class="table-light">
          <td><strong>購入日時</strong></td>
          <td><strong>購入者</strong></td>
          <td><strong>注文個数</strong></td>
          <td><strong>注文ステータス</strong></td>
        </thead>
        <tbody>
          <% @orders.reverse_each do |order| %>
            <tr>
              <td>
                <%= link_to admin_order_path(order.id) , class:'text-body' do %>
                  <%= order.created_at.to_s(:datetime_jp) %>
                <% end %>
              </td>
              <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
              <td><%= order.order_items.inject(0) { |sum, order_item| sum + order_item.amount } %></td>
              <td><%= order.state %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-3 mx-auto">
      <%= paginate @orders %>
    </div>
  </div>
</div>