<h3>注文履歴一覧</h3>
<table>
  <thead>
    <td>購入日時</td>
    <td>購入者</td>
    <td>注文個数</td>
    <td>注文ステータス</td>
  </thead>
  <tbody>
    <% @orders.reverse_each do |order| %>
      <tr>
        <td>
          <%= link_to admin_order_path(order.id) do %>
            <%= order.created_at.to_s(:datetime_jp) %>
          <% end %>
        </td>
        <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
        <td><%= order.order_items.inject(0) { |sum, order_item| sum + order_item.amount } %></td>
        <td><%= order.state %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @orders %>