<div class="container">
  <div class="row">
    <div class="mx-auto col-4">
      <h4>ログイン</h4>
      <h5>会員の方はこちらからログイン</h5>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <table>
          <tr>
            <th>メールアドレス</th>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>
          <tr>
            <th>パスワード</th>
            <td><%= f.password_field :password, autocomplete: "current-password" %></td>
          </tr>
          <tr>
            <th></th>
            <td><%= f.submit "ログイン" , class: 'btn btn-success' %></td>
          </tr>
        </table>
      <% end %>
      <br>
      <h5>会員登録がお済みでない方</h5>
      <%= link_to "こちら" , new_customer_registration_path %>　から新規登録を行ってください。
    </div>
  </div>
</div>