<div class="container">
  <div class="row">
    <div class="mx-auto col-10 pt-4">
      <span class="h3"><strong>商品一覧（全<%= @items_count %>件）</strong></span>
    </div>
    <% @items.each do |item| %>
      <div class="col-3">
        <table>
          <tr>
            <td>
              <%= link_to item_path(item.id) do %>
                <%= image_tag item.image, size: "100x100" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><strong><%= item.name %></strong></td>
          </tr>
          <tr>
            <td><strong>\<%= item.add_tax_price.to_s(:delimited) %></strong></td>
          </tr>
        </table>
      </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-3 mx-auto">
      <%= paginate @items %>
    </div>
  </div>
</div>
